<div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="space-evenly center">

        <mat-card>
            <div fxLayout="column" fxLayoutAlign="space-evenly center">
                <h6 fxLayout="center center"> Login to Manager </h6>
                <form [formGroup]="loginForm">
                    <div class="form-group" fxLayout="column" fxLayoutAlign="space-around center">

                        <mat-form-field>
                            <input matInput type="email" placeholder="Email" class="form-control" formControlName="email" required>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="password" placeholder="Password" class="form-control" formControlName="password" required>
                        </mat-form-field>

                        <div style="margin-bottom: 1em">
                            <button mat-button type="submit" (click)="onLogin()" [disabled]="loginForm.pristine" color="primary">Login</button> &nbsp;
                            <button mat-button type="button" (click)="revert()" [disabled]="loginForm.pristine" color="warn">Revert</button>
                        </div>

                    </div>
                </form>
            </div>
        </mat-card>

    </div>
</div>